<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Raunel Librería</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="#" class="navbar-brand mx-auto">Raunel´s Library</a>
    </nav>
    
    <div>
        <div class="row">
            <div class="col-md-6 mt-6 mr-4 text-center">
                <table class="table table-striped">
                    <tr>
                        <th>Titulo</th>
                        <th>Autor</th>
                        <th>Descripción</th>
                        <th>Editorial</th>
                        <th>Edición</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>
                    </tr>
                    <form method="POST" action="/changes">
                    <% for(var i = 0; i<book.length; i++){ %>
                        <tr>
                            <td><%= book[i].titulo_lib %></td>
                            <td><%= book[i].autor_lib %></td>
                            <td><%= book[i].descripcion_lib %></td>
                            <td><%= book[i].editorial_lib %></td>
                            <td><%= book[i].edicion_lib %></td>
                            <td><button type="submit" id="modif_lib" name="Modificar" class="btn btn-success" value="<%=book[i].cve_lib%>">Modificar</button> </td>
                            <td><button type="submit" id="elim_lib" name="Eliminar" class="btn btn-danger" value="<%=book[i].cve_lib%>">Eliminar</button> </td>
                        </tr>
                    <% } %>
                    </form>
                </table>
            </div>
    
            <div class="col-md-4 mt-6 text-center">
                <form action="/booksxyz" method="POST" class="card-body">
                    <h3 class="card-title">Añadir libros</h3>
                    <div class="form-group">
                        <input type="text" id="titulo" name="titulo_lib" placeholder="Titulo" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="autor_lib" placeholder="Autor" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="descripcion_lib" placeholder="Descripción" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="editorial_lib" placeholder="Editorial" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="edicion_lib" placeholder="Edición" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="submit" name="" value="Guardar" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</body>
</html>