<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="row">
    <div class="col-md-4  text-center">
        <form action="/actualiza" method="POST" class="card-body">
            <h3 class="card-title">Modificar libros</h3>
            <div class="form-group">
                <input type="hidden" id="cve_lib" name="cve_lib" value="<%=book[0].cve_lib%>" />
                <input type="text" id="titulo" name="titulo_lib" class="form-control" value="<%=book[0].titulo_lib%>" >
            </div>
            <div class="form-group">
                <input type="text" name="autor_lib" placeholder="Autor" class="form-control" value="<%=book[0].autor_lib%>" >
            </div>
            <div class="form-group">
                <input type="text" name="descripcion_lib" placeholder="Descripción" class="form-control" value="<%=book[0].descripcion_lib%>" >
            </div>
            <div class="form-group">
                <input type="text" name="editorial_lib" placeholder="Editorial" class="form-control" value="<%=book[0].editorial_lib%>">
            </div>
            <div class="form-group">
                <input type="text" name="edicion_lib" placeholder="Edición" class="form-control" value="<%=book[0].edicion_lib%>">
            </div>
            <div class="form-group">
                <input type="submit" name="" value="Guardar" class="btn btn-primary">
            </div>
        </form>
    </div>
    </div>
</body>
</html>